HOST_NAME=HostName                  # change this to your host name (for dashboards)
AGGREGATOR_HOST=IP_OF_AGGREGATOR    # change this to the IP of the fluentbit aggregator IP or hostname or fluentbit-aggregator if running on the same machine as fluentbit-aggregator